*{

    margin: 0;
    padding: 0;
}
.panel{
    width: 100px;
    height: 100px;
}
.container{
    background-color: aquamarine;
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    grid-template-areas: ". top" //el punto representa una columna sin nombre
                        ". bottom";
    
    #panel-1{
        background-color: blue;
        grid-area: top;
    }
    #panel-2{
        background-color: blueviolet;
        grid-area: bottom;
    }
}